@use "risa-oasis-ui_v2/dist/library/colors" as colors;
@use "risa-oasis-ui_v2/dist/library/mixins" as mixins;

div.loader-message-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: colors.$primaryGray16;
  height: 100%;

  span.spinning-loader {
    width: 2rem;
    height: 2rem;
  }

  div.message {
    @include mixins.h7-regular(colors.$primaryGray1);
  }
}
