@use "risa-oasis-ui_v2/dist/library/colors" as colors;
@use "risa-oasis-ui_v2/dist/library/mixins" as mixins;

div.reassign-modal {
  &--layout {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &--assigned {
    @include mixins.tiny-regular(colors.$primaryGray1);
    border-radius: 0.25rem;
    background-color: colors.$primaryGray15;

    padding: 0.5rem;

    span {
      @include mixins.tiny-bold(colors.$primaryGray1);
    }
  }
}

dialog[id*="reAssign"] {
  overflow: visible !important;
  div.custom-modal-container {
    overflow: inherit !important;

    div.dialog-body {
      overflow: inherit !important;
    }
  }
}
