@use "risa-oasis-ui_v2/dist/library/colors" as colors;
@use "risa-oasis-ui_v2/dist/library/mixins" as mixins;

div.search-bar {
  &__container {
    display: flex;
    position: relative;
    align-items: center;
    gap: 0.5rem;

    input {
      border: 1px solid colors.$primaryGray15;
      border-radius: 0.5rem;
      padding: 0.5rem;
      width: 100%;
      @include mixins.small-regular(colors.$primaryGray1);

      &:focus {
        outline: none;
        border: 1px solid colors.$primaryGray1; /* Change border style and color on focus */
      }
    }

    svg {
      position: absolute;
      top: 0.65rem;
      right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
