@use "risa-oasis-ui_v2/dist/library/colors" as colors;
@use "risa-oasis-ui_v2/dist/library/mixins" as mixins;

a.single-tab-content {
  @include mixins.small-regular(colors.$primaryGray6);
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-bottom: 4px solid transparent;
  padding: 1rem 1rem 0.75rem 1rem;
  max-width: fit-content;
  text-decoration: none;

  &.active {
    @include mixins.small-bold(colors.$tertiaryBlue4);
    border-bottom: 4px solid colors.$tertiaryBlue4;
    color: colors.$tertiaryBlue4;
  }

  &:not(.active):hover {
    cursor: pointer;
    @include mixins.small-semiBold(colors.$tertiaryBlue9);
  }
}
